<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.order.quickfurniture">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.Calculation"
            android:parentActivityName=".Activity.HomeActivity"></activity>
        <activity
            android:name=".Activity.ConfirmAddress"
            android:label="Select One address" />
        <activity
            android:name=".Activity.Getpincode"
            android:theme="@style/NoAction" />
        <activity
            android:name=".Activity.EditAddress"
            android:label="Edit Address"
            android:parentActivityName=".Activity.HomeActivity"
            android:theme="@style/NoAction" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/NoAction">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LoginActivity"
            android:theme="@style/NoAction" />
        <activity
            android:name=".Activity.CreateAccount"
            android:theme="@style/NoAction" />
        <activity
            android:name=".Activity.Forgotpassword"
            android:theme="@style/NoAction" />
        <activity
            android:name=".Activity.HomeActivity"
            android:theme="@style/AppThemetwo">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity> <!-- Firebase Notifications -->
        <service android:name=".Firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Firebase.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimaryDark" />

        <activity
            android:name=".Activity.ItemList"
            android:theme="@style/NoAction" />
        <activity
            android:name=".Activity.ItemDetails"
            android:theme="@style/NoAction" />
        <activity
            android:name=".Activity.CartActivity"
            android:theme="@style/NoAction" />
        <activity
            android:name=".Activity.GetAddress"
            android:label=" Address"
            android:parentActivityName=".Activity.HomeActivity"
            android:theme="@style/NoAction" />
    </application>

</manifest>